<!doctype html>
<html>
<head>
  <title>A Game</title>
</head>
<body>
    Let's play a game!
   	<form action="/madlib" method="GET">
   		<ul>
   			<li>Enter a person's name: <input type="text" name="name"></li>
			<li>Pick a color:
				<select name="color">
					<option value="red">Red</option>
					<option value="blue">Blue</option>
					<option value="yellow">Yellow</option>
					<option value="pink">Pink</option>
					<option value="purple">Purple</option>
				</select></li>
			<li>Enter a noun: <input type="text" name="noun"></li>
			<li>Enter an adjective: <input type="text" name="adjective"></li>
		</ul>
   		<input type="submit">
   	</form>
</body>
</html>